{% extends "index.html" %}
{% block title %}{{ SITENAME|striptags }} - {{ category }}{% endblock %}
{% block content %}
{# A document has a page of its own: list them, don't show the first one. #}
{% if category.slug == "documentation" %}
        <section id="content" class="body">
                <h1>{{ category }}</h1>
                <ol id="posts-list" class="hfeed">
                {% for article in articles_page.object_list %}
                        <li><article class="hentry">
                                <header>
                                        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                               title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
                                </header>
                                <div class="entry-content">
                                        {{ article.summary }}
                                        <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
                                </div><!-- /.entry-content -->
                        </article></li>
                {% endfor %}
                </ol><!-- /#posts-list -->
                {% if articles_page.has_other_pages() %}
                        {% include 'pagination.html' %}
                {% endif %}
        </section><!-- /#content -->
{% else %}
{{ super() }}
{% endif %}
{% endblock %}
