# Python artifacts
__pycache__/
*.pyc
/dist/
/build/
/_trial_temp/
/.coverage
/htmlcov
/virtualbricks.egg-info/
# Python virtual environment
/.venv/
# Personal private files
/tmp/
# Debian package build artifacts
.pybuild/
