# Python artifacts
__pycache__/
*.pyc
/dist/
/build/
/_trial_temp/
/.coverage
/htmlcov
/virtualbricks.egg-info/
# Python virtual environment
/.venv/
# Personal private files
/tmp/
# Debian package build artifacts
.pybuild/
/debian/.debhelper/
/debian/files
/debian/virtualbricks.debhelper.log
/debian/virtualbricks.postinst.debhelper
/debian/virtualbricks.postrm.debhelper
/debian/virtualbricks.substvars
/debian/virtualbricks/
/debian/debhelper-build-stamp
/debian/usr/
/debian/virtualbricks.prerm.debhelper
