include COPYING
include glade-catalog.xml
include l10nextract.sh
include LICENCE
include locale/virtualbricks/virtualbricks.pot locale/virtualbricks/*.po
recursive-include share *
recursive-include tests *
