Source: virtualbricks
Section: otherosfs
Priority: extra
Maintainer: Francesco Namuri <franam@debian.org>
X-Python-Version: >= 2.4
Build-Depends: cdbs (>=0.4.90~), debhelper (>= 5.0.38), imagemagick,  libmagickcore-extra, python (>= 2.6.6-3~)
Standards-Version: 3.9.2

Package: virtualbricks
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gtk2, python-pygraphviz, python-pil, python-zope.interface (>= 3.6.1), vde2, vde-netemu, qemu, qemu-utils, xdg-utils, python-twisted (>= 12.0.0), bsdtar, xterm
Recommends: gksu, vde2-cryptcab
Homepage: http://virtualbricks.eu/
Description: is a Virtualization suite for qemu/kvm VMs and vde2 networks
 Virtualbricks is a fully featured virtualization suite and a complete
 GUI to manage Qemu/KVM and Virtual Distributed Ethernet. It provides
 easy but detailed device configuration interface, programmable control
 of the running processes and a graphical interactive view of the
 virtual network topology.
