[Desktop Entry]
Version=2.0.0a1
Name=Virtualbricks
GenericName=Virtualbricks
Comment=Manage your virtual network and virtual machines
Exec=virtualbricks
Icon=virtualbricks
Terminal=true
Type=Application
Categories=System;Emulator;
