[Desktop Entry]
Version=1.0.6
Name=Virtualbricks
GenericName=Virtualbricks
Comment=Manage your virtual network and virtual machines
Exec=virtualbricks
Icon=virtualbricks
Terminal=true
Type=Application
Categories=System;Emulator;
